p {
    background-color: rgb(230, 147, 138);
    text-align: center;
    
}


header {
    background-color: beige;
}


main {
    background-color: beige;
}


#title-h1 {
    background-color: rgb(120, 160, 120);
}


#navlist {
    background-color: rgb(193, 171, 139);
}

